body {
    background: #000000;
	color: #FFFFFF;
	justify-content: center;
}

th {
	border-width: php echo 1;
	border-color: #FFFFFF;
	padding-bottom: 1%;	
}

td {
	border: 1px	 solid #FFFFFF;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}

input {
	width: 100%;
}

fieldset {
	width: 50%
	margin-top: 20%;	
}

