body {
    background: #000000;
	color: #FFFFFF;
	justify-content: center;
	text-align: center;
	font-size: 125%;	
}

fieldset {
	margin-top: 5%;
	text-align: left;
	width: 30%;
	font-size: 90%
}

legend {
	/*margin-top: 30%;*/
}

input {
	width: 100%
}


